.add-btn {
  background: #19c0ff;
  color: #fff;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5rem 1.25rem;
  font-weight: 600;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .plus {
    font-size: 1.375rem;
    margin-right: 0.5rem;
  }
  
  &:hover {
    background: #1399cc;
  }
}
