.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;

  .title {
    font-weight: 700;
    font-size: 1.25rem;
    border-bottom: 2px solid #222;
  }

  .close {
    font-size: 1.75rem;
    cursor: pointer;
    line-height: 1;
  }
}
